<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Behavior -->
      <package
            uri="hu.bme.mit.rnd.behavior"
            class="Behavior.BehaviorPackage"
            genModel="model/Behavior.genmodel"/>
   </extension>

</plugin>
